---
# this ensures Jekyll reads the file to be transformed into CSS later
---

// Colors
// $primary: #E5261F;
$primary: #d02f5d;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #fff6f8;
$steel: #5C5A5A;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: TeX;
$font-family-heading: 'Playfair Display', serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library


// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/feature';
@import 'components/social';

// Pages
@import 'pages/home';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 18px; //
    line-height: 1.3;
  }
}


// Youtube Import
.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



//
// <details> tag
//
$details-background-color: rgba(208, 47, 93, .1);

details {
    background: $details-background-color;
    border-radius: 6px;
    padding: 2px 2px 2px 10px;
    // margin-bottom: 15px;
}
details[open] {
    background: $details-background-color;
    padding: 2px 2px 0px 10px;
    margin: 0px 0px 0px 0px;
}
summary {
    margin: 0px 0px 0px 0px;
    outline:none;
    cursor: pointer;
}
details summary {
    color: $primary;
}



// Next and Previous Page
.PageNavigation {
  font-size: 15px;
  display: block;
  width: auto;
  overflow: hidden;
  // margin-left: 10px
  margin: 10px 10px 0px 10px
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}




table {
  width: 100%;
  color: $steel;
}


